/* Header */
.header-md::after {
	content: unset;
}
.dark .yz-b-bottom {
	border-bottom: unset !important
}
ion-header ion-toolbar,
ion-header {
	--min-height: 48px;
}


/* Sidemenu */
ion-menu {
	--side-min-width: 100px;
	--side-max-width: 20%;
	--ion-background-color: var(--ion-color-theme);
}
ion-menu ion-list {
	background: transparent;
}
ion-menu ion-item {
	--background-hover: #ebf5ff;
	--background-hover-opacity: 1;
	--min-height: 40px;
	/* --color: var(--ion-color-body); */
}
ion-menu ion-item:hover {
	--background-hover-opacity: 0.9;
}
.dark ion-menu ion-item:hover {
	--background-hover-opacity: 0.1;
}
ion-item.selected,
ion-menu ion-item:hover {
	/* --color: var(--IonColor-primary); */
}
ion-menu ion-content {
	--background: var(--ion-item-background, var(--ion-background-color, #fff));
	--padding-top: 0 !important;
}
ion-menu.md ion-content {
	--padding-start: 8px;
	--padding-end: 8px;
	--padding-top: 20px;
	--padding-bottom: 20px;
}
ion-menu.md ion-item {
	--padding-start: 10px;
	--padding-end: 10px;
	border-radius: 4px;
}
ion-menu ion-item.selected,
ion-menu ion-item:hover {
	--background: rgba(var(--IonColor-primary-rgb), 0.14);
}
ion-menu ion-item.selected ion-icon,
ion-menu ion-item:hover ion-icon {
	/* color: var(--IonColor-primary); */
	color: var(--ion-color-body);
}
ion-menu ion-item ion-icon {
	color: #616e7e;
}
ion-menu ion-item ion-label {
	font-weight: 500;
}
ion-menu.ios ion-content {
	--padding-bottom: 20px;
}
ion-menu.ios ion-list {
	padding: 20px 0 0 0;
}
ion-menu.ios ion-note {
	line-height: 24px;
	margin-bottom: 20px;
}
ion-menu.ios ion-item {
	--padding-start: 16px;
	--padding-end: 16px;
	--min-height: 50px;
}
ion-menu.ios ion-item ion-icon {
	font-size: 24px;
	color: #73849a;
}
ion-menu.ios ion-item .selected ion-icon {
	color: var(--IonColor-primary);
}
ion-menu.ios ion-list#labels-list ion-list-header {
	margin-bottom: 8px;
}
ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
	padding-left: 16px;
	padding-right: 16px;
}
ion-menu.ios ion-note {
	margin-bottom: 8px;
}

/* New password modal */
ion-modal.new-password-modal {
	/* --width: fit-content; */
	--min-width: 250px;
	--height: fit-content;
	--border-radius: 6px;
	--box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

/* Fab icon mobile */
ion-fab-button[data-desc] {
	position: relative;
	font-family: var(--ion-font-family, inherit);
	cursor: pointer;
}
ion-fab-button[data-desc]::after {
	position: absolute;
	content: attr(data-desc);
	z-index: 1;
	right: 50px;
	bottom: 7px;
	color: var(--ion-color-body);
	background-color: var(--ion-color-base, #fff);
	padding: 5px 10px;
	border-radius: 10px;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/* Mobile tab button */
ion-tab-button ion-menu-button::part(native) {
	height: 100%;
	--border-radius: unset;
}

/* Login Page */
.page-login ion-fab {
	display: none;
}





.input {
	width: 20rem;
	height: 100%;
	border: none;
	outline: none;
	position: relative;
	font-size: 1.8rem;
	letter-spacing: 2.2rem;
	opacity: 0;
}
.otp {
	height: 2rem;
	position: relative;
}
.view {
	pointer-events: none;
	position: absolute;
	bottom: -1.1rem;
	display: flex;
	letter-spacing: 2.55rem;
	height: 2rem;
	border: 0;
	background-image: linear-gradient(to left,
			black 70%,
			rgba(255, 255, 255, 0) 0%);
	background-position: bottom;
	background-size: 3.2rem 1px;
	background-repeat: repeat-x;
	background-position-x: 2rem;
	width: 18rem;
	color: darkblue;

	font-size: large;
	margin-bottom: 1rem;
}

.fakeView {
	font-size: 2rem;
	width: 2.2rem;
	text-align: center;
	margin-right: 1rem;
}

.caret {
	animation: blink-empty 1s infinite;
	background-image: linear-gradient(black, black);
	background-position: 1.4rem center;
	background-repeat: no-repeat;
	background-size: 1px 1.2em;
	pointer-events: none;
}
@keyframes blink-empty {
	30%,
	75% {
		background-size: 1px 1.2em;
	}
	50% {
		background-size: 0 1.2em;
	}
}

#divOuter {
	width: 17.5rem;
	overflow: hidden;
	margin-left: 0.5rem;
}

.menu-content-open {
	cursor: inherit !important;
	pointer-events: inherit !important;
}